/* Vertically align checkbox */
#notificationFleetMove {
  position: relative;
  margin: 0 5px 0 5px;
  top: 2px;
}
#notify {
  position: relative;
  margin: 5px 0 5px 0;
}
/* ------------------------ */
#notificationOffSet {
  width: 19px;
  padding-left: 4px;
}
