/* Vertically align checkbox */
.notificationCheckbox {
  position: relative;
  margin: 0 5px 0 5px;
  top: 2px;
}
.notify {
  position: relative;
  margin: 5px;
}
/* ------------------------ */
.notificationInput {
  width: 19px;
  padding-left: 4px;
}
.notificationWrap .box3_content{
  text-align: center !important;
}
.notificationWrap{
  min-width: 391px !important;
}
