/* Vertically align checkbox */
.notificationCheckbox {
  position: relative;
  margin: 0 4px 0 9px;
  top: 3px;
}
.notify {
  position: relative;
  margin: 5px;
}
/* ------------------------ */
.notificationInput {
  width: 19px;
  padding-left: 4px;
}
#fleetOverview .box4_content, #fleetOverview .box4_content table{
  text-align: center !important;
}
#fleetOverview .box4{
  width: 421px !important;
}
#fleetOverview .box4_content table{
  width: 100%;
  overflow: visible;
}
#fleetOverview .box4_box-content-left, #fleetOverview .box4_box-content-right {
  width: 6px;
}
#background-content>#local-header {
  margin-bottom: 3px !important;
}
#unitsTable .double {
  width:50% !important;
}
#unitsTable .triple {
  width:33% !important;
}
#unitsTable tr:not(:first-child):hover {
  background-color: #1c3043;
}
